*.csv
*.zip
!/beta_carotene/exp_data/lhc.csv
!/beta_carotene/exp_data/lhc_ur.csv
!/beta_carotene/exp_data/lhc_notdone.csv
!/glucaric_acid/exp_data/nc_lhc.csv
!/glucaric_acid/exp_data/ur_lhc.csv
!/glucaric_acid/exp_data/da_lhc.csv
!/glucaric_acid/exp_data/dc_lhc.csv
/beta_carotene/ml_models
!/glucaric_acid/exp_data/knockouts.csv